@font-face {
  font-family: NASA;
  src: url('../res/fonts/nasalization/nasaliza.ttf');
}

:root {
  --page-padding: 50px;
  --page-width: 80vw;
  --page-height: calc(var(--page-width) * 1.4142); /* Paper has a 1:√2 ratio */
  --page-edge: calc(0.5*(100% - var(--page-width)));
  --number-bubble-size: 25px;
  --p-padding: 25px;
  --p-full-height: calc(1em + 2 * var(--p-padding));
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  margin: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  user-select: none;
}

a, a:visited {
  color: #1a0dab; /* Google's blue */
 // text-decoration: none;
}

sup {
  position: relative;
  top: -0.5em;
  margin-right: 1ch;
}

#c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.stage {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  box-shadow: 0 0 3px #000;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: DengXian;
}

body {
  position: relative;
  overflow-y: scroll;
  background-color: #f0f0f0;
  background-image: url('../res/img/mars_bg.webp');
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
  opacity: 0.95;
  transition: background-position-y 0.1s;
}

.title {
  position: fixed;
  width: 100%;
  margin: 1.25em 0;
  text-align: center;

  font-family: NASA;
  font-size: 3em;
  font-weight: normal;
  letter-spacing: 2px;
  opacity: 1;
  transition: opacity 0.5s;


  color: white;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

  text-shadow: 0 0 10px black;
}

.hiddenTitle {
  opacity: 0;
}

.firstPage {
  margin-top: calc(50px + 6em) !important;
}

.page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--page-width);
//  height: calc(var(--page-width) * 1.4142); /* Paper has a 1:√2 ratio */
  margin: 50px calc(var(--page-edge) - var(--page-padding));
  padding: var(--page-padding);
  box-shadow: 0 0 5px black;
  background-color: white;
//  background-image: url('../res/bg.jpg');
  background-size: cover;
}
h1, p {
  margin: 0 auto;
  padding: 0;
}

.horizontalBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row norwap;
  justify-content: space-between;
  align-items:center;
}

.horizontalBox > h2 {
  padding-left: 1.5em;
  text-indent: -1.5em;
  width: 50%;
  font-weight: normal;
}

.horizontalBox > h2:first-child {

}

.horizontalBox > h2:last-child {
  text-align: right;
}

.name {
  font-weight: bold;
  font-style: italic;
}

.bannerBox {
  position: absolute;
  align-items: flex-start;
  width: calc(100% - 40px);
  height: 200px;
  top: 0;calc(100% - 240px);
  left: 0;
  padding: 20px;
  opacity: 0.5;
}

.CDSCCBanner {
//463x60
  filter: grayscale;
}
.NASABACK {
  position: relative;
  top: -15px;
  width: 500px;
  height: 120px;
background-image: radial-gradient(black 30%, transparent 70%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.YEBanner {
  width: calc(0.75 * 300px); //300x140
  filter: grayscale;
}

.page p {
  position: relative;
  width: 100%;
  text-align: justify;
//  font-size: 1.5em;
//  line-height: 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}

.page .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grey {
  margin: 0 0 0 auto;
  color: gray;
}

.asterisk {
  top: 1.8em;
}

#AppendixA h2 {
  position: relative;
}

#AppendixA h2::before {
  content: "";
  width: calc(var(--page-width) - var(--page-padding) - 20px);
  position: absolute;
  top: -0.2em;
  border: 1px solid black;
}

#AppendixA img {
  width: 100%;
}