/*
	CONTENTS LIST	
*/

.contentsList {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
}

.contentsList > li {
  margin-left: 1.5em;
  flex-grow: 1;
}

.contentsList::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 30%;
}


ol.contentsList, ol.contentsList ol {
  counter-reset: item;
}
ol.contentsList li {
  counter-increment: item;
}
ol.contentsList li::marker {
  content: "";// counters(item, ".") " ";
}

ol.contentsList {
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

ol.contentsList > li {
  margin-top: 20px;
}

ol.contentsList > li > ol > li {
  margin-top: 0;
}

ol.contentsList > li > ol {
  font-size: 1em;
  font-weight: normal;
  color: hsl(0deg 0% 34%);
}

/*
	PROJECT OUTLINE LISTS	
*/
.PO li {
  line-height: 2em;
}

.PO ol > li > ol {
  list-style-type: lower-alpha;
}